@import './colors.scss';


@mixin botao(){
    padding: 15px 45px 10px 45px;
    background-color: $bg_elements_primary;
    color: $title;
}

.input-group{
    position: relative;
}

.input{
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #FBB232;
    background-color: transparent;
    outline: 2px solid #C3C3C3;
    margin-bottom: 20px;
    transition: 1s linear;
}

.input-label{
    position: absolute;
    top:0;
    left:0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.input:focus+.input-label,
.input:valid+.input-label{
    transform: translate(10px, -10px) scale(.9);
    color: #FBB232;
    padding-inline: 5px;
    background-color: #000;
}
.input:is(:focus, :valid){
    outline-color: #FBB232;
    
}

.slideOne {
    width: 50px;
    height: 10px;
    background: #7c7c7c;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(255, 254, 254, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    label {
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: -3px;
      left: -3px;
      cursor: pointer;
      background: #aa2902;
      background: linear-gradient(to bottom, #b62400 0%, #ff3300 40%, #790000 100%);
      border-radius: 50px;
      box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.8);
      transition: all 0.4s ease;
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 37px;
        background: linear-gradient(to bottom, #91fd83 0%, #1ef301 40%, #0a4e01 100%);
      }  

      
    }
  }